<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Management</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container bg-dark text-white p-3 rounded my-4">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Courses</h2>
            <a href="/add_course" class="btn btn-primary">Add Course</a> <!-- Add Course button -->
        </div>
    </div>

    <div class="container mt-5 p-0">
        <table class="table table-hover text-center">
            <thead class="bg-dark text-white">
                <tr>
                    <th width="10%" scope="col">Course ID</th>
                    <th width="30%" scope="col">Course Name</th>
                    <th width="10%" scope="col">Course Capacity</th>
                    <th width="10%" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for course in courses %}
                <tr>
                    <td>{{ course[0] }}</td>
                    <td>{{ course[1] }}</td>
                    <td>{{ course[2] }}</td>
                    <td>
                        <form action="/course/remove" method="POST">
                            <input type="hidden" name="course_id" value="{{ course[0] }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container mt-3">
        <a href="/">Go Back</a>
    </div>

</body>

</html>
